<div class="header-body">
  <div class="section">
    <div class="image-container">
      <img src="assets/images/home_img1.jpg" />
    </div>
    <div class="content-container">
      <h1>Find Scholarships</h1>
      <p>
        Find and compare University <br />
        Scholarships Worldwide. Get a <br />
        collections of scuiable scholarships <br />
        from our expensive scholarship <br />
        database.
      </p>
      <!-- <button>Find Scholarships</button> -->
    </div>
  </div>
  <div class="section">
    <div class="content-container">
      <h1>Bachelors, Masters, PHD</h1>
      <p>
        Get scholarships according to <br />
        your degree of preference. Find <br />
        financial aid to help you fund your <br />
        education.
      </p>
      <!-- <button>Find by degree</button> -->
    </div>
    <div class="image-container">
      <img src="assets/images/home_img2.jpg" />
    </div>
  </div>
  <div class="section">
    <div class="image-container">
      <img src="assets/images/home_img3.jpg" />
    </div>
    <div class="content-container">
      <h1>Achieve your dreams</h1>
      <p>
        Access scholarships that match<br />
        your education financial needs<br />
        and achieve your goals.<br />
      </p>
      <!-- <button>Start Now</button> -->
    </div>
  </div>
</div>
