<div class="scholarship_list_container">
  <div class="heading">
    <h2>Schemes & Eligibility</h2>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl.#</th>
          <th scope="col">Department Name</th>
          <th scope="col">Scheme Name</th>
          <th scope="col">Eligibility</th>
          <th scope="col">Last Date</th>
          <th scope="col">Apply</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Agriculture & FE Department</td>
          <td>KALIA Scholarship</td>
          <td><button class="btn btn-primary">VIEW</button></td>
          <td>31-11-2023</td>
          <td><button class="btn btn-success">APPLY</button></td>
        </tr>
        <tr>
          <th scope="row" rowspan="3">2</th>
          <td rowspan="3">Higher Education Department</td>
          <td>Vyasakabi Fakirmohan Bhasabruti</td>
          <td><button class="btn btn-primary">VIEW</button></td>
          <td>31-11-2023</td>
          <td><button class="btn btn-success">APPLY</button></td>
        </tr>
        <tr>
          <td>PG Merit</td>
          <td><button class="btn btn-primary">VIEW</button></td>
          <td>31-11-2023</td>
          <td><button class="btn btn-success">APPLY</button></td>
        </tr>
        <tr>
          <td>Technical and Professional</td>
          <td><button class="btn btn-primary">VIEW</button></td>
          <td>31-11-2023</td>
          <td><button class="btn btn-success">APPLY</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Labour & ESI Department</td>
          <td>Nirman Shramik Kalyan Yojana (Edn Astt)</td>
          <td><button class="btn btn-primary">VIEW</button></td>
          <td>31-11-2023</td>
          <td><button class="btn btn-success">APPLY</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
