<div class="footer">
  <div class="top">
    <p>Get Scholarships and achieve your goals</p>
    <button routerLink="dashboard" style="cursor: pointer">Get started</button>
  </div>
  <div class="bottom">
    <div class="logo">
      <h1 style="color: var(--white)">Scholarship</h1>
    </div>
    <div class="menus">
      <a href="#">Home</a>
      <a href="#">Scholarships</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="social"></div>
  </div>
</div>
