<aside class="sidebar">
  <div class="background"></div>
  <div class="profile">
    <div class="profile__image">
      <!-- <img
        src="https://cdn.pixabay.com/photo/2023/01/28/20/23/ai-generated-7751688_1280.jpg"
      /> -->
      <img src="/assets/images/Ankit.jpg" />
    </div>
    <div class="profile__details">
      <h5 class="name">Ankit Sahu</h5>
      <p class="id">Unique ID: 22OS58867278</p>
      <p class="last_login">Last Login: 20-10-2023 06:42:10</p>
    </div>
  </div>
  <div class="menus">
    <a routerLink="profile" class="menu"
      ><mat-icon class="icon">dashboard</mat-icon> Dashboard</a
    >
    <a routerLink="scholarship-list" class="menu"
      ><mat-icon class="icon">book</mat-icon>Schemes & Eligibility</a
    >
    <a routerLink="apply-scholarship" class="menu"
      ><mat-icon class="icon">games</mat-icon>Apply Scholarship</a
    >
    <a class="menu"
      ><mat-icon class="icon">edit</mat-icon>View/Renew Application</a
    >
    <a class="menu"
      ><mat-icon class="icon">edit</mat-icon>View Change Category Request</a
    >
    <a class="menu"
      ><mat-icon class="icon">edit</mat-icon>Apply Freeship Card</a
    >
    <a class="menu"><mat-icon class="icon">info</mat-icon>Notification</a>
    <a class="menu"
      ><mat-icon class="icon">lock_open</mat-icon>Change Password</a
    >
  </div>
</aside>
